<template>
    <div class="">
        <div class="flex justify-center items-center  py-24">
            <div class="w-[30rem] h-[40rem]  flex flex-col justify-center items-center">
              <h2 class="text-6xl font-bold text-purple-900 -mb-12 z-10">404</h2>
       
            <img src="/img/alebrije.png" alt="">
            </div>
        </div>
    </div>
</template>