  <template>
  <div>
   
    <div class="max-w-screen-2xl m-auto my-20">

      <div class="text-center my-16 text-gray-800">
        <div class="flex justify-center mb-4">
          <i class="fa-solid fa-paw text-4xl"></i>
        </div>
        <h2 class="text-2xl font-bold">Hola Mundo</h2>

        <div>
          <div class="flex justify-center">
            <p class="max-w-2xl">
              Nemo autem incidunt molestiae quam.sLorem ipsum dolor sit amet,
              consectetur adipisicing elit. Laboriosam omnis animi doloribus
              voluptas, iusto eaque tempore quae aspernatur. Eum, sed
              aspernatur. Architecto voluptatum culpa repellat in laudantium
              distinctio, a eos.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div>
          <img src="/img/home.jpg" alt="" style="width: 800px" />
        </div>
      </div>

      <div class="text-center my-16 text-gray-800">
        <div class="flex justify-center mb-4">
          <i class="fa-solid fa-paw text-4xl"></i>
        </div>
        <h2 class="text-2xl font-bold">Hola Mundo</h2>

        <div>
          <div class="flex justify-center">
            <p class="max-w-2xl">
              Nemo autem incidunt molestiae quam.sLorem ipsum dolor sit amet,
              consectetur adipisicing elit. Laboriosam omnis animi doloribus
              voluptas, iusto eaque tempore quae aspernatur. Eum, sed
              aspernatur. Architecto voluptatum culpa repellat in laudantium
              distinctio, a eos.
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div>
          <img src="/img/home.jpg" alt="" style="width: 800px" />
        </div>
      </div>

      <div class="text-center my-16 text-gray-800 flex justify-center ">
        <div class="max-w-3xl w-full flex flex-wrap">
          <div v-for="character in characters" :key="character.key" class="m-4">
          <router-link :to="'about/'+character.slug"> 
          <div class="w-40 h-40   shadow-lg bg-gray-700 rounded-xl flex justify-center items-center transform duration-300 hover:rotate-6 " >
            
            <div class="flex flex-col items-center">
              <img src="/img/sheep.jpg" alt="" class="rounded-full" style="width: 6rem; height: 6rem;">
              <h3 class="text-gray-100 font-bold pt-2">{{character.name}}</h3>
            </div>
         
          </div>
             </router-link>
             </div>
        </div>
      </div> 
    </div>
 
  </div>
</template>
<script>

export default {
  data(){
    return{
      characters: [
        {
          id: 1,
          name: "pablo", 
          slug: "pablo"
          
        },
        {
          id: 2,
          name: "juanito",
          slug: "juanito"
        },
        {
          id: 3,
          name: "ironman",
          slug: "ironman"
        },
        {
          id: 4,
          name: "gayman",
          slug: "gayman"
        },
        {
          id: 5,
          name: "chesseman",
          slug: "chesseman"
        },
        {
          id: 6,
          name: "jesucristo",
          slug: "jesucristo"
        },
        {
          id: 7,
          name: "alcaeda",
          slug: "alcaeda"
        },
        {
          id: 8,
          name: "all migth",
          slug: "all-migth"
        },
      ]
    }
  }
};
</script>