  <template>
  <div>
    <div class="max-w-screen-2xl m-auto my-20">
      <div class="flex flex-col items-center space-y-16">
        <div
          class="p-4 flex justify-around max-w-screen-lg items-center"
          v-for="i in 3"
          :key="i"
        >
          <router-link to="">
            <img
              src="/img/comic.jpg"
              alt=""
              style="width: 24rem; height: 36rem"
              class=" hover:shadow-2xl duration-200 "
            />
          </router-link>
          <div class="w-2/4 text-xl">
            <h3 class="text-4xl font-bold">Title</h3>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
              maiores atque. Earum sunt qui quasi harum molestiae libero, ipsam,
              amet accusamus rerum accusantium consequuntur consectetur corporis
              cupiditate magnam dicta tenetur.
            </p>
            <br />
            <br />
            <router-link to="" class="bg-gray-900 px-3 py-2 text-gray-50">Read Now</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>