<template>
    <div class="">
        <div class="flex justify-center items-center  py-24">
            <div class="w-[30rem] h-[40rem]  flex flex-col justify-center items-center">
              <h2 class="text-4xl font-bold text-red-500">Estamos trabajando en ello!</h2>
              <br>
            <img src="/img/trabajando.jpg" alt="">
            </div>
        </div>
    </div>
</template>