  <template>
  <div>
   
    <div class="max-w-screen-2xl m-auto my-20">
      <div class="flex justify-center">
        <div>
          <img src="/img/home.jpg" alt="" style="width: 1000px" />
        </div>
      </div>
      <div class="text-center mt-16 text-gray-800">
        <div class="flex justify-center mb-4">
          <i class="fa-solid fa-paw text-4xl"></i>
        </div>
        <h2 class="text-2xl font-bold">Hola Mundo</h2>

        <div>
          <div class="flex justify-center">
            <p class="max-w-2xl">
              Nemo autem incidunt molestiae quam.sLorem ipsum dolor sit amet,
              consectetur adipisicing elit. Laboriosam omnis animi doloribus
              voluptas, iusto eaque tempore quae aspernatur. Eum, sed
              aspernatur. Architecto voluptatum culpa repellat in laudantium
              distinctio, a eos.
            </p>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</template>
<script>

export default {
  
};
</script>