<template>
  <div class="flex items-center justify-center pt-72 pb-96">
    
    <div class="text-2xl m-4"> {{user.name}}</div>
  
  <div v-if="user.email">
    <button @click="logout"  class="bg-red-500 font-bold rounded py-1 px-3 block ">log out</button>
    </div>
    <form @submit.prevent="login" v-else class="px-6 py-8">
      <label for="email">
        <h4 class="text-xl">Email</h4>
        <input
          type="email"
          v-model="form.email"
          placeholder="Email..."
          id="email"
        />
      </label>
      <br />
      <br />
      <label for="password">
        <h4 class="text-xl">Password</h4>
        <input
          type="password"
          v-model="form.password"
          placeholder="Password..."
          id="password"
        />
      </label>
      <br />
      <button class="bg-blue-500 text-white py-2 px-3 rounded my-4">
        Login
      </button>
    </form>
  </div>
</template>
<script>
import axios from "axios";
axios.defaults.withCredentials = true;
axios.defaults.baseURL = "http://localhost:8000/";
export default {
  data() {
    return {
      user: {},
      form: {
        email: "odynn@yahoo.app",
        password: "123456",
      },
    };
  },
  created(){
       axios.get("/api/user").then(res => {
              this.user = res.data
          }).catch(error => {
              console.log(error.response.data)
          });;
  },
  methods: {
      logout(){
          axios.post("/logout").then(() => {
               this.user = {}
          })
      },
    login() {
      axios.get("/sanctum/csrf-cookie").then(() => {
        axios.post("/login", this.form).then(res => {
          this.user = res.data;
        });
      });
    },
  },
};
</script>