<template>
    <div>
<li class="list-none">
                        <a :href="url">
                            <i :class="icon" class=" text-3xl text-gray-200 opacity-75 hover:opacity-100 duration-200" ></i>
                        </a>
                    </li>
    </div>
</template>
<script>
export default {
    props:{
        url:String,
        icon:String
    }
}
</script>