<template>
  <router-link
      :to="url"
      class="     py-2
      px-4
                  before:content-['']
                  before:absolute
                  before:bottom-0
                  before:left-0
                  before:right-0
                  before:h-[2px]
                  before:bg-white
                  before:duration-300
                  before:ease-in-out
                  before:scale-x-0
                  relative
                  before:hover:scale-x-100 before:focus:scale-x-100
                "             
  >
    <slot></slot>
  </router-link>
</template>
<script>
export default {
  props:{
    url : String
  }
}
</script>