<template>
  <div class="bg-white">
    <template>
      <div class="bg-gray-900 text-gray-50 shadow-sm top-0 sticky">
        <nav
          class="
            flex
            justify-between
            max-w-screen-2xl
            m-auto
            px-3
            trasnform
            duration-200
          "
          :class="!scrolled ? 'py-4' : 'py-0'"
        >
          <ul
            class="items-center transfom duration-200"
            :class="!scrolled ? '' : 'scale-75'"
          >
            <h1 class="text-2xl font-bold">Logo</h1>
            <span>de a mentis</span>
          </ul>

          <ul class="flex items-center">
            <HeaderLink url="/">Home</HeaderLink>
            <HeaderLink url="/about">About</HeaderLink>
            <HeaderLink url="/contact-me">Contact Me</HeaderLink>
            <HeaderLink url="/comics">Comics</HeaderLink>
            <HeaderLink url="/login">Login</HeaderLink>

          </ul>
        </nav>
      </div>
    </template>
    <router-view></router-view>
    <template>
      <div>
        <footer class="bg-gray-900 h-28 flex items-center justify-center">
          <div class="text-center">
            <nav class="flex space-x-4">
              <FooterIcon
                url="https://www.facebook.com/daniel.zam.56211/"
                icon="fa-brands fa-facebook"
              ></FooterIcon>
              <FooterIcon
                url="https://www.youtube.com/watch?v=9Wk38bW8whc"
                icon="fa-brands fa-youtube"
              ></FooterIcon>
              <FooterIcon
                url="https://www.instagram.com/danielzam37/?hl=es"
                icon="fa-brands fa-instagram"
              ></FooterIcon>
              <FooterIcon
                url="https://www.patreon.com/"
                icon="fa-brands fa-patreon"
              ></FooterIcon>
            </nav>

            <span class="text-gray-200 opacity-50">&copy;DZC</span>
          </div>
        </footer>
      </div>
    </template>
  </div>
</template>

<script>
import HeaderLink from "../components/HeaderLink.vue";
import FooterIcon from "../components/FooterIcon.vue";
export default {
  components: {
    HeaderLink,
    FooterIcon,
  },
  data() {
    return {
      scrolled: false,
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0;
    },
  },
};
</script>